.brackets.json

.idea

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

*.xml

*.iml

.idea/watcherTasks.xml

.idea/watcherTasks.xml

.sass-cache

bower_components

node_modules
