# ------------------------------------------------------------------------
# This file specifies intentionally untracked files that Git should ignore
# - https://git-scm.com/docs/gitignore
# ------------------------------------------------------------------------

# Numerous always-ignore extensions
*.bak
*.cvs
*.db
*.diff
*.err
*.log
*.orig
*.rej
*.zip

# Ignore all files and directories starting with . or ~ or ._ or ending with ~
.*
!.typos.toml
~*
*~
._*
# but track
!.babelrc.js
!.browserslistrc
!.editorconfig
!.gitattributes
!.github
!.gitignore

# Ignore all files with .lock extensions
*.lock
# but track
!composer.lock

# OS or Editor files and folders
*.code-workspace
*.elc
*.esproj
*.komodoproject
*.sublime*
*.tmproj*

# Dependencies
bower_components
node_modules
/vendor/

# Other UnderStrap specific files and directories
phpcs.xml
dist/
dist-product/
**/img
