## GITATTRIBUTES FOR UNDERSTRAP
#
# This file defines attributes for handling file types in the Understrap theme.
#
#   text    These files should be normalized (i.e. convert CRLF to LF).
#           Note: eol supersedes the OS-specific line endings.
#   binary  These files are binary and should not be normalized or diffed.
#           Note: 'binary' is equivalent to '-text -diff'.
#
###############################################################################

# Auto detect
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
*                 text=auto

# Source code
*.css             text eol=lf diff=css
*.js              text eol=lf
*.map             text -diff
*.php             text eol=lf diff=php
*.scss            text eol=lf diff=css

# Documentation
*.md              text diff=markdown
*.txt             text
LICENSE           text

# Configs
.editorconfig     text eol=lf
.gitattributes    text eol=lf
.gitconfig        text eol=lf
.nvmrc            text eol=lf
*.json            text eol=lf
*.lock            text -diff
*.neon            text eol=lf
*.neon.dist       text eol=lf
package-lock.json text eol=lf -diff
*.toml            text eol=lf
*.xml             text eol=lf
*.xml.dist        text eol=lf
*.yml             text eol=lf

# Graphics
*.png             binary

# Fonts
*.ttf             binary
*.eot             binary
*.woff            binary
*.woff2           binary
*.svg             text eol=lf

# RC files (like .browserlistrc)
*.*rc             text eol=lf

# Ignore files (like .gitignore)
*.*ignore         text eol=lf
