// Some basic padding for all wrappers
.wrapper {
  padding:$grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
  padding:0px!important;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
font-size:inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom:1px solid $gray-light;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full, #wrapper-static-hero{
	background-color: $gray-lighter;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}

.wp-caption-text {
	font-size: inherit;
}

.screen-reader-text {
	font-size: inherit;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	margin:0px auto;
}

//Post design
.entry-footer span {
	padding-right:10px;
}

//Limit featured image size to 100%
img.wp-post-image, article img, figure {
	max-width: 100%;
}

// Skip to content link
a.skip-link{
z-index: 1000;
margin-bottom: -20px;
position: relative;
display: block;
}

// Reset Jumbotron default margin
.jumbotron {
	margin-bottom:0px;
}
