// If you use the Bootstrap .navbar-fixed-top class on your navbar you need this
body { padding-top: 50px; }

// Some basic padding for all wrappers
.wrapper {
  padding:$grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero, #wrapper-static-hero {
  padding:0px!important;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
font-size:inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {border-bottom:1px solid $gray-lighter;}

// Necessary WP classes
.wp-caption {font-size: inherit;}
.wp-caption-text {font-size: inherit;}
.screen-reader-text {font-size: inherit;}
.alignright {font-size: inherit;}
.alignleft {font-size: inherit;}
.aligncenter {font-size: inherit;}

//Post design
.entry-footer span {padding-right:10px;}

//Limit featured image size to 100%
img.wp-post-image {
	max-width: 100%;
}
