/*
 * Contact Form 7 Styles
 */

.wpcf7 {
	// Keep a max width in case it is just the form and nothing else.
	// We do not want a form spanning whole page.
	max-width: 600px;

	// Center the form.
	margin: 0 auto !important;

	.wpcf7-form {

		// set paragraphs to behave like divs with class .form-group
		p {
			@extend .form-group !optional;
			margin-bottom: $spacer; // Replicates the .form-group functionality in BS5.
		}

		// let labels be 100%
		label {
			width: 100%;
		}
	}

	// not valid tip for each control
	.wpcf7-not-valid-tip {
		color: theme-color("danger");
	}

	// validation errors ourput bottom of form
	.wpcf7-validation-errors {
		color: theme-color("danger");
		border: 1px solid $gray-200;
	}
}
