body {
	overflow-x: hidden; // Fix for Windows Chrome horizontal scrollbar.
}


// Some basic padding for all wrappers
.wrapper {
	padding: $grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
	padding: 0 !important;
}

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-300;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $gray-200;
}

.screen-reader-text {
	@if variable-exists('bootstrap4') {
		@include sr-only();
	} @else {
		@include visually-hidden();
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: $spacer;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $spacer;
}

.aligncenter {
	@extend .mx-auto;
	display: block;
}

.widget_categories,
.widget_archive {
	select {
		@extend .form-control;
	}
}

// Post design
.entry-footer span {
	padding-right: 10px;
}

figure,
img,
img.wp-post-image,
article img,
#secondary img {
	max-width: 100%;
	height: auto;
}

// Skip to content link
a.skip-link {
	@if variable-exists('bootstrap4') {
		@extend .sr-only;
		@extend .sr-only-focusable;
	} @else {
		@extend .visually-hidden-focusable;
	}
}

// Dropdown translation
.navbar-dark .navbar-nav .dropdown-menu .nav-link {
	display: block;
	width: 100%; // For `<button>`s
	padding: $dropdown-item-padding-y $dropdown-item-padding-x;
	clear: both;
	font-weight: $font-weight-normal;
	color: $dropdown-link-color !important;
	text-align: inherit; // For `<button>`s
	white-space: nowrap; // prevent links from randomly breaking onto new lines
	background: none; // For `<button>`s
	border: 0; // For `<button>`s

	&:hover,
	&:focus {
		color: $dropdown-link-hover-color !important;
		text-decoration: none;
		background-color: $dropdown-link-hover-bg;
	}

	&.active,
	&:active {
		color: $dropdown-link-active-color !important;
		text-decoration: none;
		background-color: $dropdown-link-active-bg;
	}

	&.disabled,
	&:disabled {
		color: $dropdown-link-disabled-color !important;
		background-color: transparent;

		// Remove CSS gradients if they're enabled
		@if $enable-gradients {
			background-image: none;
		}
	}
}

.navbar-light .navbar-brand a {
	color: $navbar-light-active-color;

	&:hover,
	&:focus {
		color: $navbar-light-active-color;
	}
}

.navbar-dark .navbar-brand a {
	color: $navbar-dark-active-color;

	&:hover,
	&:focus {
		color: $navbar-dark-active-color;
	}
}

.navbar h1 {
	font-weight: $font-weight-normal;
}

// Galleries
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: floor( percentage( 1 / $i ) * 100 ) / 100;
		}
	}
}
.gallery-caption {
	display: block;
}

// New Search Widget in Block Editor
.wp-block-search {
    .wp-block-search__label {
		@if variable-exists('bootstrap4') {
			@include sr-only();
		} @else {
			@include visually-hidden();
		}
    }

    .wp-block-search__inside-wrapper {
        @extend .input-group;

        .wp-block-search__input {
            @extend .form-control;
        }

        .wp-block-search__button {
            border-radius: $border-radius;

            &:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
                margin-left: 0;
            }

			@if variable-exists('bootstrap4') {
				@include button-variant( $primary, $primary );
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			} @else {
				@include button-variant( $primary, $primary );
			}
        }
    }
}

// Fixing Off-canvas close icon is hidden behind admin bar
@include media-breakpoint-down(md) {
	body.admin-bar .offcanvas-end {
		margin-top: 46px;
	}
}

@if variable-exists('bootstrap4') {

	// Reset Jumbotron default margin
	.jumbotron {
		margin-bottom: 0;
	}

	// Accessibility requirement for content links.
	.entry-content p a:not(.btn) {
		text-decoration: underline;
	}
}
