body {
	overflow-x: hidden; // Fix for Windows Chrome horizontal scrollbar.
}


// Some basic padding for all wrappers
.wrapper {
	padding: $grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
	padding: 0 !important;
}

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-300;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $gray-200;
}

.screen-reader-text {
	@if variable-exists('bootstrap4') {
		@include sr-only();
	} @else {
		@include visually-hidden();
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: $spacer;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $spacer;
}

.aligncenter {
	@extend .mx-auto;
	display: block;
}

.widget_archive {

	select {
		display: block;
		width: 100%;

		@if variable-exists("bootstrap4") { // replicates relevant parts of .form-control
			height: $input-height;
			padding: $input-padding-y $input-padding-x;
			font-family: $input-font-family;

			@include font-size($input-font-size);
			font-weight: $input-font-weight;
			line-height: $input-line-height;
			color: $input-color;
			background-color: $input-bg;
			background-clip: padding-box;
			border: $input-border-width solid $input-border-color;

			// Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
			@include border-radius($input-border-radius, 0);
			@include box-shadow($input-box-shadow);
			@include transition($input-transition);

			// Unstyle the caret on `<select>`s in IE10+.
			&::-ms-expand {
				background-color: transparent;
				border: 0;
			}

			// Customize the `:focus` state to imitate native WebKit styles.
			@include form-control-focus($ignore-warning: true);
		} @else { // replicates relevant parts of .form-select
			padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
			-moz-padding-start: subtract($form-select-padding-x, 3px);
			font-family: $form-select-font-family;

			@include font-size($form-select-font-size);
			font-weight: $form-select-font-weight;
			line-height: $form-select-line-height;
			color: $form-select-color;
			background-color: $form-select-bg;
			background-image: escape-svg($form-select-indicator);
			background-repeat: no-repeat;
			background-position: $form-select-bg-position;
			background-size: $form-select-bg-size;
			border: $form-select-border-width solid $form-select-border-color;

			@include border-radius($form-select-border-radius, 0);
			@include box-shadow($form-select-box-shadow);
			@include transition($form-select-transition);
			appearance: none;

			&:focus {
				border-color: $form-select-focus-border-color;
				outline: 0;

				@if $enable-shadows {

					@include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
				} @else {
					// Avoid using mixin so we can pass custom focus shadow properly
					box-shadow: $form-select-focus-box-shadow;
				}
			}

			// Remove outline from select box in FF
			&:-moz-focusring {
				color: transparent;
				text-shadow: 0 0 0 $form-select-color;
			}
		}
	}
}

// Post design
.entry-footer span {
	padding-right: 10px;
}

figure,
img,
img.wp-post-image,
article img,
#secondary img {
	max-width: 100%;
	height: auto;
}

// Skip to content link
a.skip-link {
	@if variable-exists('bootstrap4') {
		@include sr-only();
		@include sr-only-focusable();
	} @else {
		@include visually-hidden-focusable();
	}
}

// Dropdown translation
.navbar-dark .navbar-nav .dropdown-menu .nav-link {
	display: block;
	width: 100%; // For `<button>`s
	padding: $dropdown-item-padding-y $dropdown-item-padding-x;
	clear: both;
	font-weight: $font-weight-normal;
	color: $dropdown-link-color !important;
	text-align: inherit; // For `<button>`s
	white-space: nowrap; // prevent links from randomly breaking onto new lines
	background: none; // For `<button>`s
	border: 0; // For `<button>`s

	&:hover,
	&:focus {
		color: $dropdown-link-hover-color !important;
		text-decoration: none;
		background-color: $dropdown-link-hover-bg;
	}

	&.active,
	&:active {
		color: $dropdown-link-active-color !important;
		text-decoration: none;
		background-color: $dropdown-link-active-bg;
	}

	&.disabled,
	&:disabled {
		color: $dropdown-link-disabled-color !important;
		background-color: transparent;

		// Remove CSS gradients if they're enabled
		@if $enable-gradients {
			background-image: none;
		}
	}
}

.navbar-light .navbar-brand a {
	color: $navbar-light-active-color;

	&:hover,
	&:focus {
		color: $navbar-light-active-color;
	}
}

.navbar-dark .navbar-brand a {
	color: $navbar-dark-active-color;

	&:hover,
	&:focus {
		color: $navbar-dark-active-color;
	}
}

.navbar h1 {
	font-weight: $font-weight-normal;
}

// Galleries
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: floor( percentage( 1 / $i ) * 100 ) / 100;
		}
	}
}
.gallery-caption {
	display: block;
}

// Search Block Widget
.wp-block-search {

	.wp-block-search__button {

		@if variable-exists("bootstrap4") {
			margin-left: $form-grid-gutter-width;
		} @else {
			margin-left: $grid-gutter-width * 0.5;
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			border: none;
			padding: 0;

			.wp-block-search__input {
				border-radius: $input-border-radius;
				border: $input-border-width solid $input-border-color;
				padding: $input-padding-y $input-padding-x;
			}
		}

		.wp-block-search__button {
			margin-left: 0;
		}
	}
}

@if variable-exists('bootstrap4') {

	// Reset Jumbotron default margin
	.jumbotron {
		margin-bottom: 0;
	}

	// Accessibility requirement for content links.
	.entry-content p a:not(.btn) {
		text-decoration: underline;
	}
}
